@model Shoppers.Web.Mvc.Models.ProductCommentViewModel
@{
    ViewData["Title"] = "Leave Comment";
}

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <form asp-action="Comment" method="post">
                    <input type="hidden" asp-for="ProductId" />
                    <div class="p-3 p-lg-5 border">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Text" class="text-black">Your Comment *</label>
                            <textarea asp-for="Text" class="form-control" rows="5"></textarea>
                            <span asp-validation-for="Text" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="StarCount" class="text-black">Rating (1-5) *</label>
                            <input asp-for="StarCount" class="form-control" type="number" min="1" max="5" />
                            <span asp-validation-for="StarCount" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-md-5">
                <div class="p-4 border mb-3">
                    <img src="@ViewBag.ProductImage" class="img-fluid mb-3 rounded">
                    <h4 class="text-black">@ViewBag.ProductName</h4>
                    <p class="text-primary h5">@ViewBag.Price</p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}